.mobileOnly {
    display: none !important;
}

.mobileWorkspaceHeader {
    padding-left: 7px;
    padding-top: 30px;
}

@media (max-aspect-ratio: 10/9) {

    .mobileOnly {
        display: unset !important;
    }

    ::-webkit-scrollbar {
        width: 0px !important;
    }

    body {
        overflow: hidden;
    }

        
    .dashboard {
        margin-left: 0 !important;
        margin-top: 0 !important;
        padding: 0 !important;
        width: 100vw !important;
    }

    .dashboardLayout {
        width: 100vw !important;
    }
}