
.mobileloginscreen {
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    position: relative;
    background-color: var(--col-contrast);
}

.mobileloginscreen .topLogin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    gap: 20px;
}

.mobileloginscreen .bottomLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 20vh;
}


.mobileloginscreen .topLogin h3 {
    color: var(--col-text);
    font-size: 7vw;
    font-weight: 700;
    text-align: center;
    margin: 0;
}
