
.mobileLoginWelcomeScreen, .mobileLoginInputServerScreen {
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    position: relative;
}

.mobileLoginWelcomeScreen .bottomLogin, .mobileLoginInputServerScreen .bottomLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 20vh;
}

.mobileLoginWelcomeScreen .topLogin, .mobileLoginInputServerScreen .topLogin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    gap: 20px;
}

.mobileLoginWelcomeScreen .topLogin h4, .mobileLoginInputServerScreen .topLogin h4 {
    margin: 0;
}

.mobileLoginWelcomeScreen .topLogin h3, .mobileLoginInputServerScreen .topLogin h3 {
    color: var(--col-text);
    font-size: 7vw;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.mobileLoginWelcomeScreen .topLogin p, .mobileLoginInputServerScreen .topLogin p {
    text-align: center;
    font-size: 4vw;
    margin: 0;
    max-width: 70vw;
}