
.mobileloginscreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}

.mobileloginscreen h3 {
    color: var(--col-text);
    font-size: 8vw;
    font-weight: 700;
    margin: 0;
}
