RewriteEngine On
RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteRule ^Dashboard$ ./Pages/index.php  [L]
RewriteRule ^Login$ ./Pages/login.php  [L]
RewriteRule ^Setup$ ./Pages/setup.php  [L]
RewriteRule ^MobileClient$ ./Pages/mobile.php  [L]
RewriteRule ^API/(.*)$ ./PHP/API/api.php [L]

DirectoryIndex index.php

RewriteEngine On
<FilesMatch "\.(html|htm|js|jsx|css)$">
  FileETag None
  <IfModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 12 Jan 1980 05:00:00 GMT"
  </IfModule>
</FilesMatch>