
#mastertooltip {
    background-color: var(--col-text);
    color: var(--col-contrast);
    justify-content: center;
    align-items: center;
    position: absolute;
    min-height: 40px;
    min-width: 40px;
    padding: 0px 10px 0px 10px;
    font-size: 0.14rem;
    font-weight: 400;
    border-radius: 10px;
    z-index: 99999;
    pointer-events: none;
}

.silentTooltip {
    position: absolute;
    z-index: 15;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}

.hideTooltips .apexcharts-tooltip, .hideTooltips .apexcharts-series-markers-wrap {
    display: none !important;
}