.projectList {
    width: 600px;
    min-height: 100px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projectListItem {
    background-color: var(--col-bg);
    border-radius: 15px;
    height: 75px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.projectListItem button:first-of-type {
    margin-left: auto;
    margin-right: 10px;
}

.projectListItem h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}


@media (max-aspect-ratio: 10/9) {
    .projectList {
        width: 80vw;
        margin-bottom: 150px;
        gap: 10px;
    }

    .projectListItem {
        padding-left: 25px;
    }

    .selectProjectModal {
        margin-top: 120px;
    }
}