.setupPage {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.setupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 100px;
}

.setupModal {
    display: flex;
    flex-direction: column;
    background-color: var(--col-contrast);
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
    width: 1000px;
    height: 600px;
    padding: 100px;
    gap: 30px;
    position: relative;
}

.loginModal button, .selectProjectModal > button {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.loginModal h1, .selectProjectModal h1 {
    font-size: 0.4rem;
    font-weight: 600;
    color: var(--col-text);
}

.loginModal .keyInput {
    width: 50%;
}

.loginModal .keyInput input {
    width: 100%;
}

.loginIcon {
    position: absolute;
    right: 100px;
    width: 300px;
    height: 300px;
}

@media (max-aspect-ratio: 10/9) {

    .setupContainer {
        padding: 0;
    }

    .setupModal {
        border-radius: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .loginIcon {
        display: none;
    }

    .loginModal .keyInput {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .loginModal .keyInput input {
        width: 100%;
    }

    .loginModal button, .selectProjectModal > button {
        width: 80%;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .setupModal .mobileIcon {
        font-size: 0.5rem;
        color: var(--nextui-colors-primary);
    }

    .setupPage {
        background: var(--col-contrast) !important;
    }
}